:root {
  --base-color: #ff00ff;
  --color-bg: #ff0;
  --color-header-bg: hsl(240, 37%, 20%);
  --color-text: hsl(0, 0%, 93%);
  --color-accent: hsl(296, 99%, 42%);
  --color-highlight: hsl(296, 99%, 30%);
}

body {
  background-color: red;
  color: teal;
}
